body {
  height: 1100px;
}

.container {
  /* height: 100%;
    width: auto;
    background-color: transparent;
    background-image: url("https://media.springernature.com/lw703/springer-static/image/art%3A10.1038%2F528452a/MediaObjects/41586_2015_Article_BF528452a_Figg_HTML.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:auto;
    background-position: top center; */

  /* background-color: rgb(11, 0, 163);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  /* direction: rtl; */
  /*
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 1.5;
  text-transform: Uppercase;
  text-align: center;
  text-decoration: underline; */


  /* border: 10px solid rgb(11, 0, 163);
  width: fit-content;
  padding: 40px 90px;
  margin: 500px auto;  top-bottom , right-left */


  background-color: red;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 200px;
  margin-bottom: 20px;  
  height: 100px;
  width: 100px;





}

/* .children{
    background-color: rgb(11, 0, 163);
    color: white;
    height: 50%;
    width: 50%;
} */
